.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  margin: 0;
  padding: 0.45rem;
  background-color: var(--color-primary-main);
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-common-white);
  cursor: pointer;

  & svg {
    height: 1.8rem;
    width: auto;
    fill: currentColor;
  }

  & span {
    background-color: transparent;
    color: currentColor;
    margin: 0 0.25rem;
  }

  &:hover {
    background-color: var(--color-primary-dark);
  }

  &--secondary {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: var(--text-color);
    border-radius: 0.25rem;
    color: var(--text-color);

    &:hover {
      background-color: var(--text-color);

      & span {
        color: var(--text-color-inverted);
      }
    }
  }

  &--inverted {
    border-color: var(--text-color-inverted);
    color: var(--text-color-inverted);

    &:hover {
      background-color: var(--text-color-inverted);

      & span {
        color: var(--text-color);
      }
    }
  }

  &--tertiary {
    border: 0;
    background-color: transparent;
    color: var(--text-color);

    & span {
      color: var(--text-color);
    }

    &.button--inverted {
      color: var(--text-color-inverted);

      & span {
        color: var(--text-color-inverted);
      }
    }

    &:hover {
      background-color: transparent;
    }
  }

  &--hold-dark {
    border-color: var(--color-grey-1000);
    color: var(--color-grey-1000);

    &:hover {
      background-color: var(--color-grey-1000);

      & span {
        color: var(--color-grey-100);
      }
    }
  }
}
