.block {
  font-family: inherit;
  color: var(--core-text-color);

  & .block__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0 0 1rem 0;

    & .block__title {
      font-size: 1.75rem;
      font-weight: 600;
      margin: 0;
    }

    & .block__subtitle {
      font-size: 1.25rem;
      font-weight: 400;
      margin: 0;
    }
  }

  & p:last-of-type {
    margin-bottom: 0;
  }

  &:first-of-type {
    padding-top: 2rem;
  }
}
