.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;

  & .container__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 1320px;
  }
}
