.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;

  & .container__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 1320px;

    & .container__header {
      max-width: 992px;
      margin: 0 auto 4rem;

      & .container__title {
        margin: 1rem 0;
        text-align: center;
        font-size: 4.25rem;
      }
    }

    & .container__content {
      max-width: 992px;
      margin: auto;
    }
  }
}
