.expense {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: auto;

  & .expense__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(120deg, #ded9ec 0%, #efeaf5 100%);

    & .expense__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 992px;
      padding: 0 1.5rem;

      & .expense__title-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: max(3vh, 2rem);

        & .expense__text {
          display: flex;
          flex-direction: column;
          gap: max(0.75vh, 0.5rem);
          color: var(--text-color);

          & .expense__title {
            font-size: 4rem;
            font-weight: 600;
            margin: 0;
            line-height: 1.2;
          }

          & .expense__subtitle {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0;
            line-height: 1.2;
          }

          & .expense__small-text {
            font-size: 0.75rem;
            font-weight: 300;
            font-style: italic;
            max-width: 75%;
            line-height: 1.1;
            color: color-mix(
              in srgb,
              var(--text-color) 50%,
              var(--text-color-inverted)
            );
          }
        }
      }

      & .expense__logo {
        display: none;
        transform: rotate(8deg);
        border-radius: max(6vh, 4rem);
        width: 256px;
        height: 256px;

        @media screen and (min-width: 992px) {
          width: 384px;
          height: 384px;
        }

        @media screen and (min-width: 768px) {
          display: initial;
        }
      }
    }
  }

  &.expense--light {
    & .expense__cover {
      background-image: linear-gradient(120deg, #ded9ec 0%, #efeaf5 100%);
    }
  }

  &.expense--dark {
    & .expense__cover {
      background-image: linear-gradient(120deg, #13111b 0%, #2d2b36 100%);
    }
  }
}
