@import "variables.css";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body.light {
  --scrollbar-thumb: var(--color-grey-800);
  --scrollbar-track: var(--color-grey-500);

  --title-color: var(--color-common-black);
  --title-color-inverted: var(--color-common-white);

  --text-color: var(--color-common-black);
  --text-color-inverted: var(--color-common-white);

  --button-color: var(--color-grey-400);
  --button-color-inverted: var(--color-grey-1100);

  --background-color: var(--color-common-white);
  --background-color-inverted: var(--color-common-black);

  --content-background-color: var(--color-grey-400);

  --modal-background-color: var(--color-grey-300);
  --footer-popup-background-color: var(--color-grey-900);
}

body.dark {
  --scrollbar-thumb: var(--color-grey-800);
  --scrollbar-track: var(--color-grey-500);

  --title-color: var(--color-common-white);
  --title-color-inverted: var(--color-common-black);

  --text-color: var(--color-common-black);
  --text-color-inverted: var(--color-common-white);

  --button-color: var(--color-grey-1100);
  --button-color-inverted: var(--color-grey-200);

  --background-color: var(--color-common-black);
  --background-color-inverted: var(--color-common-white);

  --content-background-color: var(--color-common-white);

  --modal-background-color: var(--color-grey-1100);
  --footer-popup-background-color: var(--color-grey-400);
}

body {
  background-color: var(--background-color);
}

.theme {
  background-color: var(--background-color);
  color: var(--text-color);

  transition-property: background-color, color;
  transition-duration: var(--duration-normal);
  transition-timing-function: ease-in-out;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
