@import "variables.css";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.theme.light {
  --text-color: var(--color-common-black);
  --text-color-inverted: var(--color-common-white);

  --background-color: var(--color-common-white);
}

.theme.dark {
  --text-color: var(--color-common-white);
  --text-color-inverted: var(--color-common-black);

  --background-color: var(--color-common-black);
}

.theme {
  background-color: var(--background-color);
  color: var(--text-color);

  transition-property: background-color, color;
  transition-duration: var(--duration-normal);
  transition-timing-function: ease-in-out;
}
