.qr-generator {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;

  & .qr-generator__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 992px;
    width: 100%;

    & .qr-generator__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
      margin: 2rem 0 0;

      & .qr-generator__title {
        font-size: 2.75rem;
        line-height: 1.2;
        margin: 0.25rem 0;
        padding: 0;
        color: var(--title-color);

        @media screen and (min-width: 992px) {
          margin: 0.5rem 0;
          font-size: 6rem;
        }
      }

      & .qr-generator__body {
        font-size: 0.8rem;
        line-height: 1.2;
        margin: 0.125rem 0;
        padding: 0;
        width: 85%;

        @media screen and (min-width: 992px) {
          margin: 0.25rem 0;
          font-size: 1.2rem;
          width: 90%;
        }
      }

      @media screen and (min-width: 992px) {
        margin: 4rem 0 0;
      }
    }

    & .qr-generator__content {
      padding: 0 1rem;

      & .qr-generator__content-inner {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        border-radius: 8px;
        padding: 2rem;
        background-color: var(--content-background-color);
        box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
          0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
          0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

        & .qr-generator__content-description {
          font-size: 1rem;
          color: var(--text-color);
          margin: 0.25rem 0 1rem 0;
        }

        & .qr-generator__qr {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          @media screen and (min-width: 552px) {
            flex-direction: row;
          }

          & .qr-generator__input-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            gap: 1.5rem;

            & .qr-generator__inputs {
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }

            & .qr-generator__buttons {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
            }
          }

          & .qr-generator__qr-container {
            & .qr-generator__container-inner {
              padding: 1.5rem;
              border-radius: 8px;
              border-width: 2px;
              border-style: solid;
              border-color: var(--color-grey-500);
            }
          }
        }
      }
    }
  }
}

.modal {
  & .modal__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 420px;
    max-width: calc(95vw - 2rem);

    & .modal__error {
      font-size: 1rem;
      margin: 0;
      padding: 0;
      color: var(--color-error);
    }
  }
}
