.snippets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 3rem 1.5rem 3rem;
  margin: auto;
  max-width: 992px;

  & .snippets__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin: 3rem 0 0;

    & .snippets__title {
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.2;
      margin: 0.25rem 0;
      padding: 0;
      color: var(--title-color);

      @media screen and (min-width: 992px) {
        margin: 0.5rem 0;
        font-size: 4rem;
      }
    }
  }

  & .snippets__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0 0 0;

    & .snippets__card-list {
      --columns: 3;

      display: flex;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap;

      & > * {
        max-width: calc(34% - (1rem * (var(--columns) - 1)));
      }
    }
  }

  @media screen and (min-width: 768px) {
    padding: 4rem 1.5rem 4rem;
  }

  &.snippets--nav-header {
    & .snippets__header {
      & .snippets__title {
        font-size: 2rem;
      }
    }
  }
}
