.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;

  & .tools__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 992px;
    width: 100%;

    & .tools__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
      margin: 2rem 0 0;

      & .tools__title {
        font-size: 2.75rem;
        line-height: 1.2;
        margin: 0.25rem 0;
        padding: 0;
        color: var(--title-color);

        transition-property: color;
        transition-duration: var(--duration-normal);

        @media screen and (min-width: 992px) {
          margin: 0.5rem 0;
          font-size: 6rem;
        }
      }

      @media screen and (min-width: 992px) {
        margin: 4rem 0 0;
      }
    }

    & .tools__body {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border-radius: 8px;
      padding: 2rem;
      margin: 1rem;
      background-color: var(--content-background-color);
      box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.1);

      transition-property: background-color;
      transition-duration: var(--duration-normal);

      & .tools__body-text {
        color: var(--color-common-black);
        margin: 0;
      }

      & .tools__button-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;

        & .tools__button {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 0.6rem;
          background-color: var(--color-grey-1000);
          border: 0;
          border-radius: 4px;
          cursor: pointer;

          transition-property: color;
          transition-duration: var(--duration-normal);

          & .tools__content {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0 0.5rem 0 0;

            & svg {
              width: 2rem;
              height: 2rem;
              fill: var(--color-common-white);
              opacity: 1;
            }

            & span {
              font-size: 1rem;
              color: var(--color-common-white);
              text-align: center;
              opacity: 1;
            }
          }

          &:hover {
            & svg {
              opacity: 0.8;
            }

            & span {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
