.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 5rem 1.5rem 3rem;
  margin: auto;
  max-width: 992px;

  & .projects__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin: 3rem 0 0;

    & .projects__title {
      font-size: 3rem;
      line-height: 1.2;
      margin: 0.25rem 0;
      padding: 0;
      color: var(--core-text-color);

      @media screen and (min-width: 992px) {
        margin: 0.5rem 0;
        font-size: 4rem;
      }
    }
  }

  & .projects__content {
    & .projects__button {
      & h3,
      & p {
        margin: 0;
        padding: 0;
        text-align: left;
      }
    }
  }
}
