.card {
  position: relative;
  margin: 0.5rem;
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
  height: 420px;
  background-color: var(--color-grey-400);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 33%;

  & .card__inner {
    position: absolute;
    inset: auto 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    color: var(--text-color-inverted);
    background-color: var(--background-color-inverted);
    padding: 1.2rem 1.25rem;

    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

    & .card__title {
      margin: 0 0 0.25rem;
      padding: 0;
      color: currentColor;
    }

    & .card__body {
      margin: 0.25rem 0;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      color: currentColor;
    }

    & .card__buttons {
      position: absolute;
      inset: auto 1rem 1rem 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: calc(100% - 2rem);

      & .card__button {
        margin: 0;
        padding: 0.75rem 1.5rem;
        border: 0;
        background-color: var(--background-color);
        color: var(--text-color);
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          opacity: 0.85;
        }

        &--secondary {
          background-color: transparent;
          color: var(--text-color-inverted);
          cursor: default;
          padding: 0.75rem;
          font-style: italic;
        }
      }
    }
  }

  &--header {
    & .card__inner {
      height: 175px;

      & .card__body {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      & .card__buttons {
        position: unset;
        width: 100%;
      }
    }
  }
}
