.card {
  background-color: var(--content-background-color);
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;

  transition-property: transform;
  transition-duration: var(--duration-fast);
  transition-timing-function: ease;

  & .card__inner {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    & .card__preview {
      border: 0;
      border-radius: 8px;
      height: 200px;
    }

    & .card__text {
      display: flex;
      flex-direction: column;
      padding: 0 0.2rem;

      & .card__title {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        color: var(--text-color);
      }

      & .card__body {
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0;
        color: color-mix(
          in srgb,
          var(--text-color),
          var(--text-color-inverted) 35%
        );
      }
    }
  }

  &:hover {
    transform: scale(1.025);
  }
}
