.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  margin: 0;
  background-color: var(--color-common-white);

  box-sizing: border-box;
  z-index: 2000;

  transition-property: box-shadow background-color color;
  transition-duration: 150ms;
  transition-timing-function: ease;

  & .navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 1rem;

    & .navbar__logo {
      & a {
        display: flex;
        margin: 0;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1;
        background: linear-gradient(60deg, rgba(240, 78, 130, 1) 0%, rgba(48, 60, 162, 1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 250% 250%;
        animation: backgroundAnimation 8s ease-in-out infinite;

        &:focus-visible {
          outline: 2px solid var(--color-primary-main);
        }

        @keyframes backgroundAnimation {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }
    }

    & .navbar__menu-button {
      background-color: transparent;
      border: 0;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }

      & svg {
        width: 2rem;
        height: 2rem;
        fill: var(--core-text-color);
      }
    }

    & .navbar__items {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      color: currentColor;
      height: 100%;

      & .navbar__items-divider {
        height: 1.6rem;
        width: 1px;
        margin: 0 0.5rem;
        background-color: var(--core-text-color);
        opacity: 0.5;
      }

      & .navbar__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        color: currentColor;
        height: 100%;
        color: var(--core-text-color);

        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          background-color: transparent;
          border: 0;
          font-size: 1rem;
          line-height: 1;
          text-decoration: none;

          transition-property: transform;
          transition-duration: 150ms;
          transition-timing-function: ease-in-out;

          &:focus-visible {
            outline: 2px solid var(--color-primary-main);
          }

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      & .navbar__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 0 0 0 0.5rem;

        & .navbar__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          color: var(--core-text-color);

          & svg {
            width: 1.4rem;
            height: 1.4rem;
            fill: var(--core-text-color);
            opacity: 0.65;

            transition-property: opacity;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
          }

          &:hover {
            & svg {
              opacity: 1;
            }
          }

          &:focus-visible {
            outline: 2px solid var(--color-primary-main);
            outline-offset: 2px;
          }
        }
      }

      & button {
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    & .navbar__inner {
      padding: 0 1rem;
    }
  }

  &.navbar--scroll {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
    background-color: var(--core-content-background-100);
  }
}

.nav-menu {
  & .nav-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 0.5rem 0 0 0;
    padding: 0 4px;
    color: var(--core-text-color);

    & .nav-menu__logo {
      border: 0;
      margin: 0;
      padding: 0;
      background-color: transparent;

      & > span {
        display: flex;
        margin: 0 0.2rem 0 0;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1;
        background: linear-gradient(60deg, rgba(240, 78, 130, 1) 0%, rgba(48, 60, 162, 1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 250% 250%;
        animation: backgroundAnimation 8s ease-in-out infinite;

        @keyframes backgroundAnimation {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }
    }

    & .nav-menu__items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.8rem;

      & .nav-menu__button {
        padding: 0;

        & > span {
          font-size: 1.75rem;
          margin: 0;
        }
      }
    }
  }
}
