.section {
  font-family: inherit;
  color: var(--text-color);

  & .section__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0 0 max(1.5vh, 1rem) 0;

    & .section__title {
      font-size: max(2.65vh, 1.75rem);
      font-weight: 600;
      margin: 0;
    }

    & .section__subtitle {
      font-size: max(2.25vh, 1.5rem);
      font-weight: 500;
      margin: 0;
    }
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}
