.footer {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--color-common-grey);
  justify-content: center;
  align-items: center;

  & .footer__title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
      margin: 0.2rem 0;
    }

    & .footer__site-title {
      font-weight: bold;
      font-size: 1.5rem;
    }

    & .footer__copyright {
      font-size: 0.75rem;
      color: var(--color-common-grey);
      font-style: italic;
    }
  }
}
