.footer {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--color-common-grey);
  justify-content: center;
  align-items: center;
  background-color: var(--core-content-background-100);

  & .footer__title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
      margin: 0.2rem 0;
    }

    & .footer__site-title {
      color: var(--core-text-color);
      font-weight: 300;
      font-size: 1.5rem;
    }

    & .footer__copyright {
      font-size: 0.75rem;
      color: var(--color-common-grey);
      font-style: italic;
    }

    & a,
    & .footer__link-button {
      margin: 0.15rem 0;
      font-size: 0.75rem;
      color: var(--color-common-grey);
      font-style: italic;
      text-decoration: underline;
      cursor: pointer;
      border: 0;
      background-color: transparent;

      &:focus-visible {
        outline: 2px solid var(--color-primary-main);
      }
    }
  }
}

.options-modal {
  & .options-modal__inner {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
}
