.input {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;

  & .input__label {
    font-size: 1rem;
    font-style: italic;
    opacity: 0.5;
    margin-left: 0.125rem;
  }

  & .input__input {
    padding: 0.6rem;
    border: 0;
    border-radius: 6px;
    font-size: 1rem;
    outline: 0;
    border-width: 2px;
    border-style: solid;

    &::placeholder {
      font-style: italic;
      color: var(--color-grey-600);
    }

    &:focus {
      background-color: var(--color-grey-1100);
      border-color: var(--color-grey-800);
      border-width: 2px;
      border-style: solid;
    }
  }

  &--dark {
    & .input__label {
      color: var(--color-common-white);
    }

    & .input__input {
      color: var(--color-grey-500);
      background-color: var(--color-grey-1100);
      border-color: var(--color-grey-500);
    }
  }

  &--light {
    & .input__label {
      color: var(--color-grey-1100);
    }

    & .input__input {
      color: var(--color-grey-800);
      background-color: var(--color-common-white);
      border-color: var(--color-grey-500);
    }
  }

  &--focus {
    & .input__label {
      opacity: 1;
    }

    &.input--dark {
      & .input__input {
        color: var(--color-grey-100);
        background-color: var(--color-grey-900);
        border-color: var(--color-grey-100);
        box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
      }
    }

    &.input--light {
      & .input__input {
        color: var(--color-common-black);
        background-color: var(--color-grey-100);
        border-color: var(--color-grey-900);
        box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
