.theme-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--core-text-color);

  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  & .theme-toggle__icon {
    position: relative;
    fill: currentColor;
    height: 2.6rem;
    width: 2.6rem;
    padding: 0.6rem;
    opacity: 0.65;
    border-radius: 50%;
    background-color: transparent;

    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }

  &::before {
    content: attr(data-theme-text);
    position: absolute;
    inset: 50% 0 auto calc(-100% - 1.5rem);
    transform: translateY(-50%);
    padding: 0.5rem 1rem 0.5rem 0.8rem;
    border-radius: 2rem;
    opacity: 0;
    font-size: 1rem;
    pointer-events: none;
    text-align: left;
    text-transform: uppercase;

    transition-property: opacity, background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    --box-shadow-color: color-mix(in srgb, var(--core-text-color), var(--core-text-inverted) 80%);

    & .theme-toggle__icon {
      background-color: color-mix(in srgb, var(--core-text-inverted), var(--core-text-color) 15%);
      opacity: 1;
    }

    &::before {
      opacity: 1;
      background-color: color-mix(in srgb, var(--core-text-inverted), var(--core-text-color) 25%);
      box-shadow: var(--box-shadow-color) 0px 7px 29px 0px;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary-main);
    outline-offset: 2px;
  }
}
