.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    border: 0;
    background: transparent;
    margin: 0;
    cursor: pointer;

    & svg {
      fill: currentColor;
      height: 1.4rem;
      width: 1.4rem;
    }
  }
}
